.godot/
.godot-task-cache/
/build/
android/build/.gradle/
android/build/build/
android/build/.cxx/
android/build/outputs/
android/.gradle/
reports/runtime/*.log
*.tmp
*.import
addons/admob/downloads/
addons/admob/ios/
